main {
    margin: 50px 200px;
    padding: 20px;
    font-size: x-large;
}

img {
    float: left;
}
p {
    float: left;
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.col-md-6 {
    margin-top: 25px;
    margin-bottom: 25px;
}

form {
    margin: 0px 20%;
}