body {
    background-color:lavender;
    color: rebeccapurple;
}
main {
    margin: 5% 15%;
    padding: 20px;
    font-size: large;
}

#my-nav {
    background-color: rebeccapurple;
}

img {
    float: left;
    margin-bottom: 10%;
}

.content {
    background-color: oldlace;
    border-radius: 10px;
    padding: 20px;
}

form {
    margin: 0px 20%;
}

#portfolio, #contact {
    display: none;
}

.nav-link:hover {
    cursor: pointer;
}

#linkedin{
    margin-top: 1.5%;
}

.project {
    margin-top: 2%;
}
#dropdown-outer {
    display: none;
}

@media (max-width: 600px) {
    #dropdown-outer {
        display: block;
    }
    .non-dropdown {
        display: none;
    }
}